* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: rgb(43, 163, 87);
  width:100%;
  height: 80px;
  display:flex;
  position: relative;
}
header h1{
  position: absolute;
  font-family:'Times New Roman', Times, serif;
  left:35px;
  top: 15px;
  color: antiquewhite;
  font-size: 40px;
}
footer{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
footer h3{
  color: rgb(106, 104, 104);
  padding-bottom: 3px;
}
.notes{
  box-shadow: 2px 5px 5px rgb(178, 179, 177);
  padding: 10px;
  margin: 25px;
  width: 200px;
  background-color: aliceblue;
  float: left;
}
.notes h1{
  font-size: 25px;
}

.notes p{
  font-size: 14px;
  font-family:serif;
}